<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QUnit/Sinon.JS</title>
    <%= stylesheet_link_tag "qunit" %>
    <%= stylesheet_link_tag "test_helper" %>
    <%= javascript_include_tag "qunit" %>
    <%= javascript_include_tag "test_helper" %>
	<%= javascript_include_tag "syn.js" %> 
	<%= javascript_include_tag "sinon-1.5.2.js" %> 
	<%= javascript_include_tag "sinon-ie-1.5.2.js" %> 
	<%= javascript_include_tag "sinon-qunit-1.0.0.js" %> 
	<!--
	<%= javascript_include_tag "synthetic.js" %> 
	<%= javascript_include_tag "mouse.js" %>
	<%= javascript_include_tag "browsers.js" %>
	<%= javascript_include_tag "key.js" %>
	<%= javascript_include_tag "drag/drag.js" %>
	-->
    <%= csrf_meta_tags %>
  </head>
  <body>



    <div id="qunit"></div>
    <div id="qunit-fixture">
    	<input id="test-input" type="text" />
    </div>
  </body>
</html>